- name: Run PowerShell deployment script
  shell: pwsh
  run: ./scripts/deploy.ps1 -ResourceGroupName "git-test-rg" -Location "eastus" -StorageAccountName "demostorageacct123"
  env:
    AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
    AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
